<?xml version="1.0"?>
<config>
    <modules>
        <Eltrino_DiamanteDesk>
            <version>1.0.2</version>
        </Eltrino_DiamanteDesk>
    </modules>
    <global>
        <models>
            <eltrino_diamantedesk>
                <class>Eltrino_DiamanteDesk_Model</class>
                <resourceModel>eltrino_diamantedesk_resource</resourceModel>
            </eltrino_diamantedesk>
            <eltrino_diamantedesk_resource>
                <class>Eltrino_DiamanteDesk_Model_Resource</class>
                <entities>
                    <queue>
                        <table>diamantedesk_tickets_queue</table>
                    </queue>
                    <order_relation>
                        <table>diamantedesk_order_relation</table>
                    </order_relation>
                    <customer_relation>
                        <table>diamantedesk_customer_relation</table>
                    </customer_relation>
                </entities>
            </eltrino_diamantedesk_resource>
        </models>
        <resources>
            <eltrino_diamantedesk_setup>
                <setup>
                    <module>Eltrino_DiamanteDesk</module>
                </setup>
            </eltrino_diamantedesk_setup>
        </resources>
        <blocks>
            <eltrino_diamantedesk>
                <class>Eltrino_DiamanteDesk_Block</class>
            </eltrino_diamantedesk>
            <!--<adminhtml>-->
                <!--<rewrite>-->
                    <!--<sales_order_view_info>Eltrino_DiamanteDesk_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>-->
                <!--</rewrite>-->
            <!--</adminhtml>-->
        </blocks>
        <helpers>
            <eltrino_diamantedesk>
                <class>Eltrino_DiamanteDesk_Helper</class>
            </eltrino_diamantedesk>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <diamantedesk_export_tickets>
                <schedule>
                    <cron_expr>0/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>eltrino_diamantedesk/queue::processQueue</model>
                </run>
            </diamantedesk_export_tickets>
            <diamantedesk_check_queue>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>eltrino_diamantedesk/observer::checkQueue</model>
                </run>
            </diamantedesk_check_queue>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <diamantedesk>
                <use>standard</use>
                <args>
                    <module>Eltrino_DiamanteDesk</module>
                    <frontName>diamantedesk</frontName>
                </args>
            </diamantedesk>
        </routers>
        <layout>
            <updates>
                <eltrino_diamantedesk>
                    <file>eltrino/diamantedesk.xml</file>
                </eltrino_diamantedesk>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <eltrino_diamantedesk>
                    <file>eltrino/diamantedesk.xml</file>
                </eltrino_diamantedesk>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Eltrino_DiamanteDesk before="Mage_Adminhtml">Eltrino_DiamanteDesk_Adminhtml</Eltrino_DiamanteDesk>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>